ul.breadcrumbs
  li.breadcrumb Folketingsvalg 2015
  li.breadcrumb ...
  li.breadcrumb {{json.table.name}}
.clearfix
div.table-container
  h1.header {{json.table.name}}
  table.overview-table
    tr
      td Senest opdateret:
      td {{json.table.updated_at}}
      td Stemmerberettigede:
      td.number {{json.table.votes_allowed | number}}
    tr
      td Procent optalt:
      td.number {{json.table.votes_counted_pct | number}}%
      td Stemmeprocent:
      td.number {{json.table.votes_pct | number}}%
    tr
      td(ng-if="json.table.areatype == 'L'") Optalte storkredse
      td(ng-if="json.table.areatype == 'S'") Optalte kredse
      td(ng-if="json.table.areatype == 'K'") Optalte valgsteder
      td XX af XX
      td Optalte stemmer:
      td.number {{json.table.votes_made | number}}
  table.party-table.striped
    thead
      tr
        th.mobile-hide(colspan="2") Parti
        th.mobile-show Parti
        th.number Stemmetal
        th.number Procenter
        th.number.mobile-hide Procenter +/- #[i.ion-information-circled]
        th.number(ng-if="json.table.areatype != 'K'") Mandater
        th.number.mobile-hide(ng-if="json.table.areatype != 'K'") Mandater +/- #[i.ion-information-circled]
    tbody
      tr(ng-repeat="party in json.table.results")
        td.party-logo #[img(src="img/{{party.party_letter}}_small.png" srcset="img/{{party.party_letter}}_small@2x.png 2x" alt="{{party.party_name}}")]
        td.mobile-hide {{party.party_name}}
        td.number {{party.votes | number}}
        td.number {{party.votes_pct | number}}%
        td.number.mobile-hide ({{party.votes_deviation | number}}%) #[i(ng-class="{'ion-chevron-up positive' : party.votes_deviation > 0, 'ion-chevron-down negative' : party.votes_deviation < 0, 'ion-minus' : party.votes_deviation == 0}")]
        td.number(ng-if="json.table.areatype != 'K'") {{party.mandates | number}}
        td.number.mobile-hide(ng-if="json.table.areatype != 'K'") ({{party.mandates_deviation | number}}) #[i(ng-class="{'ion-chevron-up positive' : party.mandates_deviation > 0, 'ion-chevron-down negative' : party.mandates_deviation < 0, 'ion-minus' : party.mandates_deviation == 0}")]
  div
    strong(ng-if="json.table.areatype == 'L'") Storkredse
    strong(ng-if="json.table.areatype == 'S'") Kredse i {{json.table.name}}
    strong(ng-if="json.table.areatype == 'K'") Valgsteder i {{json.table.name}}
    ul.constituency-nav
      li.constituency(ng-repeat="great in json.table.greater")
        a(ng-href="#/table{{great.path}}") {{great.name}}
      li.constituency(ng-repeat="constituency in json.table.constituencies")
        a(ng-href="#/table{{constituency.path}}") {{constituency.name}}
      li.constituency(ng-repeat="poll in json.table.polling")
        a(ng-href="#/table{{poll.path}}") {{poll.name}}
    .clearfix
