ul.breadcrumbs
  li.breadcrumb
    a(ng-href="#/map") Folketingsvalg 2015
  li.breadcrumb(ng-repeat="hier in json.table.hierarchy")
    a(ng-href="#/resultater{{hier.path}}") {{hier.name}}
.clearfix
div.table-container
  h1.app-header {{json.table.name}}
  table.overview-table
    tr
      td Senest opdateret:
      td {{json.table.updated_at}}
      td Stemmerberettigede:
      td.number {{json.table.votes_allowed | number}}
    tr
      td Procent optalt:
      td.number {{json.table.votes_counted_pct | number}}%
      td Stemmeprocent:
      td.number {{json.table.votes_pct | number}}%
    tr
      td(ng-if="json.table.areatype == 'L'") Optalte storkredse
      td(ng-if="json.table.areatype == 'S'") Optalte kredse
      td(ng-if="json.table.areatype == 'K'") Optalte valgsteder
      td(ng-if="json.table.areatype == 'D'")
      td(ng-if="json.table.areatype == 'D'")
      td(ng-if="json.table.areatype != 'D'") {{json.table.locations_completed}} af {{json.table.locations_completed}}
      td Optalte stemmer:
      td.number {{json.table.votes_made | number}}
  table.party-table.striped
    thead
      tr
        th.mobile-hide(colspan="2") Parti
        th.mobile-show Parti
        th.number Stemmetal
        th.number Procenter
        th.number.mobile-hide 
          | Procenter +/-
          i.ion-information-circled.info-popup-container(ng-mouseover="infoPct = true" ng-mouseout="infoPct = false")
            span.info-popup(ng-show="infoPct") Tallet viser, hvor mange procentpoint partiet er gået frem eller tilbage i forhold til folketingsvalget 2011.
        th.number(ng-if="json.table.areatype != 'K' && json.table.areatype != 'D'") Mandater
        th.number.mobile-hide(ng-if="json.table.areatype != 'K' && json.table.areatype != 'D'") 
          | Mandater +/- 
          i.ion-information-circled.info-popup-container(ng-mouseover="infoMan = true" ng-mouseout="infoMan = false")
            span.info-popup(ng-show="infoMan") Tallet viser, hvor mange mandater partiet er gået frem eller tilbage i forhold til folketingsvalget 2011.
    tbody
      tr(ng-repeat="party in json.table.results")
        td.party-logo
          a(ng-href="#/resultater{{party.path}}") #[i.partylogo.large(ng-class="party.party_letter")]
        td.mobile-hide
          a(ng-href="#/resultater{{party.path}}") {{party.party_name}}
        td.number {{party.votes | number}}
        td.number {{party.votes_pct | number}}%
        td.number.mobile-hide ({{party.votes_deviation | number}}%) #[i(ng-class="{'ion-chevron-up positive' : party.votes_deviation > 0, 'ion-chevron-down negative' : party.votes_deviation < 0, 'ion-minus' : party.votes_deviation == 0}")]
        td.number(ng-if="json.table.areatype != 'K' && json.table.areatype != 'D'") {{party.mandates | number}}
        td.number.mobile-hide(ng-if="json.table.areatype != 'K' && json.table.areatype != 'D'") ({{party.mandates_deviation | number}}) #[i(ng-class="{'ion-chevron-up positive' : party.mandates_deviation > 0, 'ion-chevron-down negative' : party.mandates_deviation < 0, 'ion-minus' : party.mandates_deviation == 0}")]
  div
    strong(ng-if="json.table.areatype == 'L'") Storkredse
    strong(ng-if="json.table.areatype == 'S'") Kredse i {{json.table.name}}
    strong(ng-if="json.table.areatype == 'K'") Valgsteder i {{json.table.name}}
    ul.constituency-nav
      li.constituency(ng-repeat="location in json.table.locations")
        a(ng-href="#/resultater{{location.path}}") {{location.name}}
    .clearfix
