ul.breadcrumbs
  li.breadcrumb Folketingsvalg 2015
  li.breadcrumb Landsresultat
.clearfix
div.table-container
  h1.header Landsresultat
  table.overview-table
    tr
      td Senest opdateret:
      td 20. maj 2014 12:30
      td Stemmerberettigede:
      td.number 40.642
    tr
      td Procent optalt:
      td.number 100%
      td Stemmeprocent:
      td.number 55.3%
    tr
      td Optalte storkredse
      td 10 af 10
      td Optalte stemmer:
      td.number 22.478
  table.party-table
    thead
      tr
        th.mobile-hide(colspan="2") Parti
        th.mobile-show Parti
        th Stemmetal
        th Procenter
        th.mobile-hide Procenter +/- #[i.ion-information-circled]
        th Mandater
        th.mobile-hide Mandater +/- #[i.ion-information-circled]
    tbody
      tr
        td #[img(src="img/a_small.png" srcset="img/a_small@2x.png 2x" alt="Socialdemokraterne")]
        td.mobile-hide Socialdemokraterne
        td.number 919528
        td.number 29.5%
        td.number.mobile-hide (-1.1%) #[i.ion-chevron-up.positive]
        td.number 773
        td.number.mobile-hide (-28) #[i.ion-chevron-up.positive]
      tr
        td #[img(src="img/a_small.png" srcset="img/a_small@2x.png 2x" alt="Socialdemokraterne")]
        td.mobile-hide Socialdemokraterne
        td.number 919528
        td.number 29.5%
        td.number.mobile-hide (-1.1%) #[i.ion-chevron-up.positive]
        td.number 773
        td.number.mobile-hide (-28) #[i.ion-chevron-up.positive]
      tr
        td #[img(src="img/a_small.png" srcset="img/a_small@2x.png 2x" alt="Socialdemokraterne")]
        td.mobile-hide Socialdemokraterne
        td.number 919528
        td.number 29.5%
        td.number.mobile-hide (-1.1%) #[i.ion-chevron-down.negative]
        td.number 773
        td.number.mobile-hide (-28) #[i.ion-chevron-down.negative]
      tr
        td #[img(src="img/a_small.png" srcset="img/a_small@2x.png 2x" alt="Socialdemokraterne")]
        td.mobile-hide Socialdemokraterne
        td.number 919528
        td.number 29.5%
        td.number.mobile-hide (-1.1%) #[i.ion-chevron-up.positive]
        td.number 773
        td.number.mobile-hide (-28) #[i.ion-chevron-up.positive]
  div
    strong Storkredse
    ul.constituency-nav
      li.constituency Københavns Storkreds
      li.constituency Københavns Omegns Storkreds
      li.constituency Nordsjællands Storkreds
      li.constituency ...
    .clearfix
