ul.breadcrumbs
  li.breadcrumb 
    a(ng-href="#/map") Folketingsvalg 2015
  li.breadcrumb(ng-repeat="hier in json.party.hierarchy")
    a(ng-href="#/resultater{{hier.path}}") {{hier.name}}
.clearfix
div.table-container
  h1.header
    img.party-logo(src="img/{{json.party.party_letter}}_big.png" srcset="img/{{json.party.party_letter}}_big@2x.png 2x" alt="{{json.party.party_name}}")
    | {{json.party.party_name}}
  p Personlige stemmer i&nbsp;
    strong {{json.party.name}}
    strong(ng-if="json.party.areatype == 'L'") &nbsp;(Storkreds)
    strong(ng-if="json.party.areatype == 'S'") &nbsp;(Kreds)
    strong(ng-if="json.party.areatype == 'K'") &nbsp;(Valgsted)
  table.candidate-table.striped
    thead
      tr
        th Kandidat
        th.number Personlige stemmer
    tbody
      tr(ng-repeat="candidate in json.party.results")
        td {{candidate.name}}
        td.number {{candidate.votes | number}}
      
