ul.breadcrumbs
  li.breadcrumb
    a(ng-href="#/map") Folketingsvalg 2015
  li.breadcrumb(ng-repeat="hier in json.party.hierarchy")
    a(ng-href="#/resultater{{hier.path}}") {{hier.name}}
.clearfix
div.table-container
  h1.app-header
    i.partylogo(ng-class="json.party.party_letter")
    | {{json.party.party_name}}
  p Personlige stemmer i&nbsp;
    strong {{json.party.name}}
    strong(ng-if="json.party.areatype == 'L'") &nbsp;(Storkreds)
    strong(ng-if="json.party.areatype == 'S'") &nbsp;(Kreds)
    strong(ng-if="json.party.areatype == 'K'") &nbsp;(Valgsted)
  table.candidate-table.striped
    thead
      tr
        th( ng-click="changeOrder('name')") 
          | Kandidat&nbsp;
          i(ng-class="{'ion-android-arrow-dropup': order=='name' && reverse==false, 'ion-android-arrow-dropdown': order=='name' && reverse==true}")
        th.number(ng-click="changeOrder('-votes')") 
          | Personlige stemmer&nbsp;
          i(ng-class="{'ion-android-arrow-dropup': order=='-votes' && reverse==true, 'ion-android-arrow-dropdown': order=='-votes' && reverse==false}")
    tbody
      tr
        td(colspan="2" ng-if="json.party.results.length == 0") Afventer optælling af de personlige stemmer.
      tr(ng-repeat="candidate in json.party.results | orderBy:order:reverse")
        td {{candidate.name}}
        td.number {{candidate.votes | number}}
