ul.breadcrumbs
  li.breadcrumb Folketingsvalg 2015
  li.breadcrumb Landsresultat
.clearfix
div.table-container
  img.party-logo(src="img/a_big.png" srcset="img/a_big@2x.png 2x" alt="Socialdemokraterne")
  h1.header Socialdemokraterne
  p Personlige stemmer i: 3. Indre by (valgsted)
  table.candidate-table
    thead
      tr
        th Kandidat
        th Personlige stemmer
    tbody
      tr
        td Jeppe Kofod
        td 919528
      tr
        td Jeppe Kofod
        td 919528
      tr
        td Jeppe Kofod
        td 919528
      tr
        td Jeppe Kofod
        td 919528
      tr
        td Jeppe Kofod
        td 919528
