ul.breadcrumbs
  li.breadcrumb Folketingsvalg 2015
  li.breadcrumb Landsresultat
  li.breadcrumb Københavns Storkreds
  li.breadcrumb Indre Bykredsen
  li.breadcrumb 3. Indre by
  li.breadcrumb Socialdemokratiet
.clearfix
div.table-container
  h1.header
    img.party-logo(src="img/a_big.png" srcset="img/a_big@2x.png 2x" alt="Socialdemokraterne")
    | Socialdemokraterne
  p Personlige stemmer i&nbsp;
    strong 3. Indre by (valgsted)
  table.candidate-table.striped
    thead
      tr
        th Kandidat
        th.number Personlige stemmer
    tbody
      tr
        td Jeppe KofodKofodKofod
        td.number 919528
      tr
        td Jeppe Kofod
        td.number 919528
      tr
        td Jeppe Kofod
        td.number 919528
      tr
        td Jeppe Kofod
        td.number 919528
      tr
        td Jeppe Kofod
        td.number 919528
