.candidate-table {
  background-color: #fff;
  width: calc(100vw - 30px);
  margin: 30px 0;
  border-collapse: collapse;

  th {
    background-color: $secondary;
    color: #fff;
    font-weight: normal;
    border-spacing: 0;
    text-align: left;
    padding: 0.5em 1em;
  }

  tbody tr:nth-child(odd) {
    background-color: $grey;
  }

  td {
    border: 2px solid #fff;
    padding: 2px 15px;
  }

  .positive:before {
    color: $positive;
  }

  .negative:before {
    color: $negative;
  }
}

.party-logo {
  height: 1.2em;
  vertical-align: bottom;
  margin-right: 0.3em;
}
