.map.selected {
  fill: $primary;
}

.map.red {
  fill: $red;
}

.map.light-red {
  fill: $light-red;
}

.map.lighter-red {
  fill: $lighter-red;
}

.map.blue {
  fill: $blue;
}

.map.light-blue {
  fill: $light-blue;
}

.map.lighter-blue {
  fill: $lighter-blue;
}

.map-tip {
  background-color: $white;
  box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
  padding: 10px;

  &-header {
    position: relative;
    margin: 0;
    border-bottom: 1px solid $black;
    font-size: 1.2em;
  }

  &-counted {
    position: absolute;
    right: 0;
    bottom: 2px;
    font-size: .6em;
    line-height: 1.2em;
  }

  &-table {
    margin: 8px 0 0 0;

    td {
      padding: 2px 3px;
      font-size: 0.7em;
      font-weight: bold;

      &:nth-child(2) {
        padding-left: 15px;
        padding-right: 15px;
        border-right: 8px solid $white;
      }
    }

    img {
      vertical-align: bottom;
    }
  }

  &-block {
    position: relative;
    width: 100%;
    height: 30px;
    margin-top: 5px;
  }

  &-red,
  &-blue {
    position: absolute;
    color: $white;
    padding: 2px 6px;
  }

  &-red {
    width: calc(100% - 12px);
    background-color: $red;
    z-index: 1;
  }

  &-blue {
    z-index: 2;
    right: 0;
    text-align: right;
    background-color: $blue;
  }
}

.election-map {
  width: 100%;
  height: 0;
  padding-top: 100%;
  position: relative;

  text {
    font-family: $main-font;
  }
}
