.map.red {
  fill: $red;
}

.map.light-red {
  fill: $light-red;
}

.map.lighter-red {
  fill: $lighter-red;
}

.map.blue {
  fill: $blue;
}

.map.light-blue {
  fill: $light-blue;
}

.map.lighter-blue {
  fill: $lighter-blue;
}
