@media (min-width: 801px) {
  html, body {
    font-size: 18px;
  }

  .mobile-show {
    display: none;
  }
}

@media (max-width: 800px) {
  html, body {
    font-size: 14px;
  }

  .mobile-hide {
    display: none;
  }

  .map-tip {
    display: none;
  }

  th {
    padding: 0.5em 0.7em;
  }

  .tab-nav {
    width: calc(100% - 1.6em);
    height: 30px;
    line-height: 30px;
    border: 1px solid $white;

    &:after {
      display: none;
    }
  }

  h1.header {
    font-size: 1.5em;
  }
}
