<!DOCTYPE html>
html(lang="da")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title Folketingsvalg 2015 - Resultater
  body
    //- Embed start
    link#themecss(rel="stylesheet" href="themes/default.css")
    div(ng-app ng-view autoscroll="true" election-themer="")
    script(src="//54.77.4.249:8080/socket.io/socket.io.js")
    script(src="scripts.min.js")
    //- Embed end
