.tab-header {
  list-style: none;
  padding: 0;
  margin: 0;
}

.tab-nav {
  position: relative;
  cursor: pointer;
  background-color: $dark-grey;
  float: left;
  min-width: 10em;
  padding: .3em 0.1em .3em 10px;
  margin-right: 1.5em;
  border-top-left-radius: .3em;

  &:after {
    position: absolute;
    /* top: 0; */
    right: -1.4em;
    content: "";
    border-top: 2em solid transparent;
    border-bottom: none;
    border-left: 1.5em solid $dark-grey;
    border-right: none;
    bottom: 0;
  }

  &.active {
    background-color: $grey;

    &:after {
      border-left-color: $grey;
    }
  }
}

.tab-body {
  background-color: $grey;
  padding: 10px;
}

.party-poll-header {
  list-style: none;
  padding: 0;
  margin: 2px 0 0 0;
}

.party-header {
  float: left;
  width: calc((100% - 20px) / 10);

  img {
    margin-right: 8px;
    vertical-align: bottom;
  }

  p {
    display: inline;

  }
}

.help-box {
  position: absolute;
  top: 170px;
  font-size: 12px;
}

.color-block {
  margin-bottom: 8px;
}

.block {
  float: left;
  width: 15px;
  height: 15px;
}

.block.red {
  background-color: $red;
}

.block.light-red {
  background-color: $light-red;
}

.block.lighter-red {
  background-color: $lighter-red;
}

.block.blue {
  background-color: $blue;
}

.block.light-blue {
  background-color: $light-blue;
}

.block.lighter-blue {
  background-color: $lighter-blue;
}

.block-text {
  display: inline-block;
  margin: 0 0 0 18px;
}

.latest-updates {
  list-style: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  height: 20px;
}

.updated-text {
  float: left;
  font-weight: bold;
  margin-right: 30px;
}

.updated-region {
  float: left;
  margin: 2px 5px 0 0;
  border: 1px solid $black;
  border-radius: 4px;
  padding: 0 8px;
  font-size: 11px;

  a {
    text-decoration: none;
    color: $black;
  }
}

.stripe {
  width: 20px;
  height: 5px;
  display: inline-block;
  border-radius: 5px;
  margin: 0 0 1px 8px;
}

.stripe.red {
  background-color: $red;
}

.stripe.light-red {
  background-color: $light-red;
}

.stripe.lighter-red {
  background-color: $lighter-red;
}

.stripe.blue {
  background-color: $blue;
}

.stripe.light-blue {
  background-color: $light-blue;
}

.stripe.lighter-blue {
  background-color: $lighter-blue;
}

#dk_valgkredse {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}
