div.tab-container
  ul.tab-header
    li.tab-nav(ng-class="{'active': tab=='2011'}" ng-click="tab='2011'") Resultat 2015 - Optalte: XX%
  .clearfix
  div.tab-body(ng-mouseover="showPct=true" ng-mouseout="showPct=false")
    div.block-poll(block-poll)
    ul.party-poll-header.mobile-hide
      li.party-header(ng-repeat="party in json.map.parties")
        i.partylogo.small(ng-class="party.party_letter")
        p(ng-hide="showPct") {{party.mandates}}
        p(ng-show="showPct") {{party.votes_pct | number}}%
    .clearfix
  div.election-map.mobile-hide(election-map)
  div.help-box.mobile-hide
    p Farven angiver hvilken blok der fører i kredsen:
    div.color-block
      div.block.red
      div.block.blue
      p.block-text Alle valgsteder i kredsen optalt
    div.color-block
      div.block.light-red
      div.block.light-blue
      p.block-text Flere valgsteder i kredsen optalt
    div.color-block
      div.block.lighter-red
      div.block.lighter-blue
      p.block-text få valgsteder i kredsen optalt
  ul.latest-updates.mobile-hide
    li.updated-text Seneste optalte:
    li.updated-region(ng-repeat="latest in json.map.latest_votes_counted_complete") {{latest.name}} #[div.stripe(ng-class="latest.block_winner")]
  .clearfix
  p.help-text.mobile-hide Klik på kortet for at se kredsresultater, eller klik #[a(ng-href="#/resultater/landet") her] for at gå direkte til landsresultatet
div.container.mobile-show
  table.party-table.striped
    thead
      tr
        th.mobile-show.party-logo Parti
        th.number Stemmetal
        th.number Procenter
        th.number Mandater
    tbody
      tr(ng-repeat="party in json.map.parties")
        td.party-logo 
          a(ng-href="#/resultater/landet/{{party.party_letter}}")
            i.partylogo.large(ng-class="party.party_letter")
        td.number {{party.votes | number}}
        td.number {{party.votes_pct | number}}%
        td.number {{party.mandates}}
  div
    strong Storkredse
    ul.constituency-nav
      li.constituency
        a.ng-binding(href='#/resultater/storkreds/S4') Bornholms Storkreds
      li.constituency
        a.ng-binding(href='#/resultater/storkreds/S6') Fyns Storkreds
      li.constituency
        a.ng-binding(href='#/resultater/storkreds/S2') K&oslash;benhavns Omegns Storkreds
      li.constituency
        a.ng-binding(href='#/resultater/storkreds/S1') K&oslash;benhavns Storkreds
      li.constituency
        a.ng-binding(href='#/resultater/storkreds/S10') Nordjyllands Storkreds
      li.constituency
        a.ng-binding(href='#/resultater/storkreds/S3') Nordsj&aelig;llands Storkreds
      li.constituency
        a.ng-binding(href='#/resultater/storkreds/S5') Sj&aelig;llands Storkreds
      li.constituency
        a.ng-binding(href='#/resultater/storkreds/S7') Sydjyllands Storkreds
      li.constituency
        a.ng-binding(href='#/resultater/storkreds/S9') Vestjyllands Storkreds
      li.constituency
        a.ng-binding(href='#/resultater/storkreds/S8') &Oslash;stjyllands Storkreds
    .clearfix
