div.tab-container
  ul.tab-header
    li.tab-nav(ng-class="{'active': tab=='2011'}" ng-click="tab='2011'") Resultat 2011
    li.tab-nav(ng-class="{'active': tab=='counter'}" ng-click="tab='counter'") Optalte stemmer - XX%
    li.tab-nav(ng-class="{'active': tab=='exit'}" ng-click="tab='exit'") Exit-poll
  .clearfix
  div.tab-body
    div.block-poll(block-poll)
    ul.party-poll-header.mobile-hide
      li.party-header(ng-repeat="party in json.map.parties")
        i.partylogo.small(ng-class="party.party_letter")
        p {{party.mandates}}
    .clearfix
  div.election-map.mobile-hide(election-map)
  div.help-box.mobile-hide
    p Farven angiver hvilken blok der fører i kredsen:
    div.color-block
      div.block.red
      div.block.blue
      p.block-text Alle valgsteder i kredsen optalt
    div.color-block
      div.block.light-red
      div.block.light-blue
      p.block-text Flere valgsteder i kredsen optalt
    div.color-block
      div.block.lighter-red
      div.block.lighter-blue
      p.block-text få valgsteder i kredsen optalt
  ul.latest-updates.mobile-hide
    li.updated-text Seneste optalte:
    li.updated-region(ng-repeat="latest in json.map.latest_votes_counted_complete") {{latest.name}} #[div.stripe(ng-class="latest.block_winner")]
  .clearfix
  p.help-text.mobile-hide Klik på kortet for at se kredsresultater, eller klik #[a(href="") her] for at gå direkte til landsresultatet
div.container.mobile-show
  table.party-table.striped
    thead
      tr
        th.mobile-show.party-logo Parti
        th.number Stemmetal
        th.number Procenter
        th.number Mandater
    tbody
      tr(ng-repeat="party in json.map.parties")
        td.party-logo #[i.partylogo.large(ng-class="party.party_letter")]
        td.number {{party.votes}}
        td.number {{party.votes_pct}}%
        td.number {{party.mandates}}
