div.tab-container
  ul.tab-header
    li.tab-nav(ng-class="{'active': tab=='2011'}" ng-click="tab='2011'") Resultat 2011
    li.tab-nav(ng-class="{'active': tab=='counter'}" ng-click="tab='counter'") Optalte stemmer - XX%
    li.tab-nav(ng-class="{'active': tab=='exit'}" ng-click="tab='exit'") Exit-poll
  .clearfix
  div.tab-body
    svg.block-poll(block-poll)
    ul.party-poll-header
      li.party-header
        img(src="/img/a_small.png" srcset="/img/a_small@2x.png 2x" alt="Socialdemokraterne")
        p XX,X%
      li.party-header
        img(src="/img/b_small.png" srcset="/img/b_small@2x.png 2x" alt="De Radikale")
        p XX,X%
      li.party-header
        img(src="/img/f_small.png" srcset="/img/f_small@2x.png 2x" alt="Socialistisk Folkeparti")
        p XX,X%
      li.party-header
        img(src="/img/ø_small.png" srcset="/img/ø_small@2x.png 2x" alt="Enhedslisten")
        p XX,X%
      li.party-header
        img(src="/img/å_small.png" srcset="/img/å_small@2x.png 2x" alt="Alternativet")
        p XX,X%
      li.party-header
        img(src="/img/c_small.png" srcset="/img/c_small@2x.png 2x" alt="De Konservative")
        p XX,X%
      li.party-header
        img(src="/img/i_small.png" srcset="/img/i_small@2x.png 2x" alt="Liberal Alliance")
        p XX,X%
      li.party-header
        img(src="/img/k_small.png" srcset="/img/k_small@2x.png 2x" alt="Kristendemokraterne")
        p XX,X%
      li.party-header
        img(src="/img/o_small.png" srcset="/img/o_small@2x.png 2x" alt="Dansk Folkeparti")
        p XX,X%
      li.party-header
        img(src="/img/v_small.png" srcset="/img/v_small@2x.png 2x" alt="Venstre")
        p XX,X%
    .clearfix
  div.election-map(election-map)
  div.help-box
    p Farven angiver hvilken blok der fører i kredsen:
    div.color-block
      div.block.red
      div.block.blue
      p.block-text Alle valgsteder i kredsen optalt
    div.color-block
      div.block.light-red
      div.block.light-blue
      p.block-text Flere valgsteder i kredsen optalt
    div.color-block
      div.block.lighter-red
      div.block.lighter-blue
      p.block-text få valgsteder i kredsen optalt
  ul.latest-updates
    li.updated-text Seneste optalte:
    li.updated-region Kalundborg #[div.stripe.blue]
    li.updated-region Køge #[div.stripe.light-red]
    li.updated-region Odense #[div.stripe.red]
    li.updated-region Hørsholm #[div.stripe.light-blue]
    li.updated-region København #[div.stripe.lighter-blue]
    li.updated-region AArhus #[div.stripe.lighter-red]
  .clearfix
  p.help-text Klik på kortet for at se kredsresultater, eller klik #[a(href="") her] for at gå direkte til landsresultatet
